@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Oswald&display=swap');
/*logo and menu*/
#logo, h1 {
  font-family: Oswald , sans-serif;
  text-transform: uppercase;
  letter-spacing: 6px;
  font-size: 200%;
  float: left;
  color: #252525;
  border-bottom: 0px solid #3a3a3a;
}
 #menu{
  font-family: Oswald , sans-serif;
  font-size: 100%;
  letter-spacing: 6px;
  text-transform: uppercase;
}
#meny,li {
  line-height: 80px;
}
#menu li{
  float: right;
  list-style-type: none;
  margin-right: 35px;
}

#menu a{
  text-decoration: none;
  color:inherit; 
}

#menu a:hover {
  border-bottom: 1px solid #3a3a3a ;
}

.actitve {
  border-bottom: 1px solid #3a3a3a;
}

/* Main text*/

#main-text {
  font-family: lato , sans-serif;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  letter-spacing: 1px;
  color: #3a3a3a;
}

p {
  text-align: center;
  margin: 0 auto; 
  letter-spacing: 0px;
  font-size: medium;
  }
  
  /* body*/
  body {
    font-family: lato ,sans-serif;
    font-weight: 200;
    color: #3a3a3a; 
    height: 100%;
     }
     html {
    height: 100%;
 }

     /* images*/
     #main-image{
      background: url(../images/main-image.jpg) center  no-repeat;
      width : 100%;
      height: 500px;
      margin-top: 80px;
      background-size: cover;
      margin: 0%;
      background-color: #3a3a3a;
      text-align: center;
             
     }

        /* footer*/
        #footer {
         text-align: center;
        font-size: 22px;
        position: absolute;
        right: 25%;
        left: 25%;
      }
      

        
            #social-media{
            float: center; 
            font-size: 150%;
            margin: 1%;
            padding: 1%;
            color:#3a3a3a;
            }

            #social-media > li {
              display: inline; 
              float: center; 

            }

            #social-media > ul > li {
              display: inline; 
              float: center; 

            }
        
               
                /*sign up page */

                #sign-up {
                  font-family: lato , sans-serif;
                  letter-spacing: 1px;
                  font-size: 180%;
                  margin: 1%;
                  padding: 1%;
                  text-align: center;
                  float: center;
                   color: #3a3a3a;
                }
                           
                      /*gallery */
                      #gallery{
                        clear: both;
                        line-height: 0;
                        column-count: 2;
                        column-gap: 0;
                        float: center;
                        text-align: center;
                    }
                    #gallery > img {
                      width: 100%;
                      float: center;
                      float: center;
                      text-align: center;
                    }
                          /* For diffrent screen sizes */

                            @media screen and (max-width: 950px) {

                              
                              #menu {
                                font-size: 12px;                                                                  
                                  float: right;                             
                                   line-height: 20px;
                                  columns: 1;
                                    }
                                    
                                      #sign-up {
                                      margin-top: 100px;}
                                                                        
                                  }

                                  #main-image{
                                    background: url(../images/main-image.jpg) center no-repeat;
                                    margin-top: 90px;  }

                                    #sign-up-text{
                                   font-family: lato , sans-serif;
                                       color: #3a3a3a;
                                       float: center;
                                       clear:both;
                                      float: center;
                                    text-align: center;}
                                    #gallery{
                                      clear: both;
                                       line-height: 0;
                                    column-count: 1;
                                     column-gap: 0;
                                    float: center;
                                  text-align: center;
                                  
                                  #gallery > img {
                                   width: 100%;
                                   float: center;
                                   display: block;
                                   float: center;
                                      text-align: center;}
                                  }
                                  
                                                                                                                       
                                     @media screen and (max-width: 1000px) {
                                       /*gallery */
                                        #gallery{
                                           clear: both;
                                             line-height: 0;
                                             column-count: 1;
                                             column-gap: 0;
                                             float: center;
                                           text-align: center;
                                            }
                               
                                #gallery > img {
                                  width: 100%;
                                 float: center;
                               float: center;
                              text-align: center;
                                  }
                                }
                                      
                           