#logo, h1{
  font-family: Oswald , sans-serif;
  text-transform: uppercase;
  letter-spacing: 6px;
  font-size: 200%;
  float: left;
  color: #252525;
  border-bottom: 0px solid #3a3a3a;
}
 #menu{
  font-family: Oswald , sans-serif;
  font-size: 100%;
  letter-spacing: 6px;
  text-transform: uppercase;
}
#meny,li {
  line-height: 80px;
}
#menu li{
  float: right;
  list-style-type: none;
  margin-right: 35px;
}

#menu a{
  text-decoration: none;
  color:inherit; 
}

#menu a:hover {
  border-bottom: 1px solid #3a3a3a ;
}

.actitve {
  border-bottom: 1px solid #3a3a3a;
}